GestionStock/AppGestionStock/Connected Services/WcfService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfGestionStock.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfGestionStock.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProduit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Produit" nillable="true" type="tns:Produit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduit" nillable="true" type="tns:ArrayOfProduit" />
  <xs:complexType name="Produit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Pu" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Qte" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idProduit" type="xs:int" />
      <xs:element minOccurs="0" name="libelle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Produit" nillable="true" type="tns:Produit" />
</xs:schema>